#movie-backdrop {
    width: 100%;
}

.container {
    padding-top: 32px;
}

#actors {
    margin: 24px 16px 0 0;
}

.actors-list {
    display: inline;
    font-size: 1.3em;
    margin-right: 1rem;
    color: blue;
    cursor: pointer;
}

.main-poster-img {
    cursor: pointer;
}